My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1q6bAIRoINwVBcybOEG9ilreTPBmrHd1s",
          "mode": "list",
          "cachedResultName": "N8nTF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1q6bAIRoINwVBcybOEG9ilreTPBmrHd1s"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        944,
        432
      ],
      "id": "c4514a09-e196-48b2-8ec0-01996c0fdc6f",
      "name": "Google Drive Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        432
      ],
      "id": "d8d1c2f8-979e-4b22-be6e-d09d65476bd7",
      "name": "Download file",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "You are an experienced short-term crypto trader (scalping/day-trading) acting as a deterministic trade planner. Analyze a Binance chart screenshot and produce one actionable trade plan that maximizes expected return per unit risk while minimizing false entries. Output only the minimal JSON object defined below.\nScope & constraints\nSource of truth: the Binance screenshot. Decide primarily from what is visible. Do not invent numbers.\nWhat to read: symbol (e.g., “RUNE/USDT”), last price, 24h high/low/change, selected timeframe tab (5m/15m/1H/1D), visible MA/EMA, candles, volume bars, any legible order book/last trades.\nStyle: scalp/day-trade (minutes → hours).\nRisk preference: standard; prefer ≥ 1.5R.\nTime: all timestamps UTC.\nOutput: JSON only (no prose/markdown; no extra keys).\nPrimary objectives (in order)\nCapital preservation: never imply risk > 1.00% of equity (or 0.50% if confidence is low).\nPositive expectancy: prefer entries with ≥ 1.5R within the detected timeframe session.\nClarity: produce precise, executable levels and a beginner-friendly advice that exactly mirrors the JSON numbers.\nData interpretation rules (must follow)\nTimeframe detection: read the highlighted tab. If ambiguous, infer from axis/bar density and lower confidence.\nTick precision: infer from the last-price decimals and apply to all prices (≈$1 assets → 0.001).\nVolume baseline: use the visual median of the last ~20 bars; “high volume” = >1.20× median; “expansion/capitulation” = >2.00×.\nVolatility regime: estimate proxy-ATR from the average high–low of the last ~20 bars.\nHigh vol ⇒ slightly wider SL and farther TPs.\nLow vol ⇒ tighter SL and closer TPs.\nSupport/Resistance: prefer the two most recent swing highs/lows with ≥2 touches, aligned with round numbers and visible MAs. Use the nearest actionable S/R to current price.\nOrder book (if legible): short-term pressure if top-of-book size ratio >1.5× or a clear wall near entry; avoid entering into the wall unless fading the range edge.\nBias & multi-timeframe (MTF)\nDetermine short-term bias from MA slope/price position and HH/HL vs LH/LL structure.\nIf higher TF (1H/1D) agrees, add +0.15 to confidence; if conflicts, −0.20 and switch to 0.50% risk in advice or require stronger confirmation (close beyond level + high volume).\nEntry logic (choose one tactic only)\nPullback (preferred with trend): LIMIT at MA/level after a clear rejection candle (long wick against entry direction) and micro-structure shift (e.g., lower high for shorts).\nBreakout (momentum): require a close of the detected TF beyond the level by ≥0.10% (≈$1 assets) and volume >1.20× recent median; then MARKET entry allowed with max slippage ≤0.10% (state in advice).\nRange fade (only with flat MAs & tight range): enter at the edge; SL just beyond wick extreme; TP at mid-range, then far edge.\nStops & targets (structure-first)\nStop-loss: place beyond the nearest invalidation swing (above swing high for shorts / below swing low for longs) + buffer 0.15–0.30% for ≈$1 assets or 0.25–0.50× proxy-ATR.\nTP ladder (3 targets):\nTP1 ≈ 1.0R, TP2 ≈ 1.5–2.0R, TP3 ≈ 2.5–3.0R or nearest visible S/R (whichever first).\nAfter TP1 ⇒ move SL to breakeven; after TP2 ⇒ enable trailing stop (0.4–0.8% or ≈0.5× proxy-ATR).\nOrder maintenance: cancel if not filled within 3–5 candles of the detected TF, or if price action invalidates the setup (e.g., closes past the stop reference).\nConfidence rubric (0.00–1.00)\nStart at 0.60; apply: +0.15 MTF aligns; +0.10 confirmed breakout (close beyond + high volume); +0.05 supportive order book.\n−0.10 timeframe ambiguous; −0.10 key level approximate; −0.15 counter-trend entry.\nCap 0.95, floor 0.30. If < 0.60, recommend 0.50% risk in advice; otherwise 1.00%.\n‘Hold’ rule (rare)\nUse \"hold\" only if (A) symbol/last price unreadable, or (B) you cannot identify at least two of {short-term bias, nearest support, nearest resistance}.\nWhen \"hold\", set entry_price, stop_loss, take_profit, order_quantity, order_type to null, keep confidence ≤ 0.40, and in advice give both conditional triggers (long-above X & short-below Y) with SL/TPs.\nAdvice style (must be beginner-friendly)\n1–3 short imperative sentences; plain English.\nInclude: order type (LIMIT/MARKET + slippage if MARKET), Entry, STOP, TP1/TP2/TP3 with % split, risk rule (1.00% if confidence ≥0.60 else 0.50%), breakeven & trailing, cancel-if-not-filled window, time horizon (e.g., “close by end of day UTC”).\nAll numbers in advice must exactly equal the JSON values.\nRounding\nPrices: 3 decimals for ≈$1 quotes; 2 for ≥$10; 5 for <$0.10.\nPercentages in advice: 2 decimals.\nReturn exactly this JSON (and nothing else)\n{\"symbol\": \"RUNEUSDT\",\"timestamp_utc\": \"2025-09-06T12:30:00Z\",\"timeframe_detected\": \"15m\",\"signal\": \"sell\",\"entry_price\": 1.230,\"stop_loss\": 1.280,\"take_profit\": [{ \"price\": 1.200, \"volume_percent\": 50, \"order_type\": \"limit\" },{ \"price\": 1.180, \"volume_percent\": 30, \"order_type\": \"limit\" },{ \"price\": 1.150, \"volume_percent\": 20, \"order_type\": \"market\" }],\"order_quantity\": null,\"order_type\": \"limit\",\"confidence\": 0.72,\"advice\": \"Place a LIMIT SELL at 1.230; STOP 1.280. Take profit at 1.200/1.180/1.150 (50%/30%/20%). Risk 1.00% of equity if confidence ≥ 0.60, else 0.50% (size = (risk% * equity) / |1.280 - 1.230|). Move stop to breakeven after TP1, trail 0.5% after TP2, cancel if not filled within 3×15m candles, and close by end of day UTC.\",\"issues\": [] } \nField rules\nsignal ∈ {\"buy\", \"sell\", \"hold\"}.\norder_type: default \"limit\"; use \"market\" only for confirmed breakouts (as defined).\norder_quantity: keep null if balance unknown; put sizing rule in advice.\nadvice: 1–3 sentences; must include entry/stop/TP ladder with % split, risk rule, breakeven & trailing, cancel window, and time horizon.\nissues: short reason codes if any (e.g., \"LOW_VISIBILITY\", \"NO_CLEAN_LEVELS\", \"SYMBOL_UNREADABLE\"); empty if none.",
        "inputType": "base64",
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        432
      ],
      "id": "ee184e9e-0b8f-4fd7-9a39-32db43e4762b",
      "name": "Analyze image",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/analyzer",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "fileId",
              "value": "={{ $('Download file').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        432
      ],
      "id": "f978985e-e6b0-453d-b87f-627c61770912",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        944,
        624
      ],
      "id": "376a31c3-bf86-49df-8724-a4afd5f9aec1",
      "name": "Webhook",
      "webhookId": "866c7913-257c-4513-974b-f981705e6232"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "You are an experienced short-term **cryptocurrency** trader (scalping/day trading) and a deterministic trade planner. Analyze a **Binance** chart screenshot and output **one** executable trade plan. Your aim is to maximize risk-adjusted return while **raising hit-rate** and avoiding weak setups.\n \nCRITICAL\n- **Primary source of truth = the screenshot.** Read only what is clearly visible (pair, last price, timeframe tab, candles, volume, EMAs/VWAP/RSI if shown, etc.). Do **not** invent numbers.\n- Optional cross-check: if the screenshot itself clearly shows **free, open** data (e.g., ADX on-chart), you may use it as secondary confirmation. If it conflicts with the screenshot’s core price/volume evidence, **prefer the screenshot** and lower `confidence`.\n- **Evidence & transparency:** Base decisions on **verifiable chart evidence**. In `advice`, reference the exact triggers you used (e.g., “close beyond level + high volume + retest acceptance”). Any ambiguity goes into `issues`.\n \nMARKET SCOPE & NORMALIZATION\n- Market: any **Binance** crypto pair with a similar UI (spot or futures if clearly shown).\n- If pair is displayed as `BASE/QUOTE`, normalize `\"symbol\"` to concatenated uppercase (e.g., `ETH/USDT` → `ETHUSDT`).\n- Style: **scalp/day-trade** (minutes → hours). Standard/medium risk.\n- Timestamps: **UTC**.\n- Output language: **English**.\n- Output format: **JSON only** with the exact schema at the end (no extra keys, no prose).\n \nDECIMALS / ROUNDING (no extra fields)\n- Use the precision visible on the screenshot for **all** prices. If unclear: price ≥ $10 → 2 decimals; ≈ $1 → 3; < $0.10 → 5.\n- Use the same decimals inside `advice`. Every number in `advice` must **exactly match** the JSON values.\n \nDATA INTERPRETATION (must follow)\n- **Timeframe detection:** use the highlighted tab (5m/15m/1H/1D). If ambiguous, infer from axis/bar density and reduce `confidence`.\n- **Volume baseline:** median of the last ~20 bars. “High volume” = **> 1.50×** median; “expansion/capitulation” = **> 2.00×** median.\n- **Volatility proxy (proxy-ATR%)**: average((high − low) / close) over ~20 bars.\n  - High vol ⇒ allow **wider SL** and **farther TPs**.\n  - Low vol ⇒ **tighter SL** and **closer TPs**. If proxy-ATR% < **~0.30%**, **avoid trend breakouts** (allow only **range-fade** with flat MAs).\n- **Support/Resistance:** choose the **nearest actionable** S/R (≥2 touches); align with round numbers and visible MAs/VWAP (if present).\n- **Order book (if legible):** do not enter **into** a large opposite wall; prefer fading the range edge if a wall caps TP1 path.\n \nMARKET REGIME GATES (hit-rate oriented)\n- Trade **trend setups** only if a clear trend is present (visible **EMA200 slope**). If EMA200 is **flat**, **disallow trend breakouts**; allow **range-fade** only at obvious edges.\n- **RSI neutrality ban:** if **RSI ∈ [45, 55]**, avoid new **trend** signals (except high-quality range-fade).\n- **Free-run room:** distance from entry to the nearest **opposite** S/R must be **≥ 1.5R** (ideally 2.0R). If not, return `\"hold\"` or adjust levels.\n \nBIAS & MULTI-TIMEFRAME (MTF)\n- Bias by MA slope/position + structure (HH/HL for uptrends, LH/LL for downtrends).\n- If higher TF (1H/1D) **agrees**, add **+0.15** to `confidence`. If it **conflicts**, subtract **−0.20** and either reduce risk to **0.50%** in `advice` or demand stronger confirmation (close beyond level + **retest** + high volume).\n \nENTRY LOGIC (choose **one** tactic only)\n1) **Pullback (preferred with trend)**\n   - Place a **LIMIT** at the MA/level **after** a clear rejection candle **and** micro-structure alignment:\n     • Shorts: LH/LL; price < EMA25; EMA7 < EMA25.  \n     • Longs: HH/HL; price > EMA25; EMA7 > EMA25.\n   - Opposite wick **≥ 45–50%** of the bar **and** the candle closes in the correct half (below mid for shorts / above mid for longs).\n   - Confluence with **EMA7/EMA25** (and **VWAP**, if visible).\n   - **Cancel** if not filled within **3** candles of the detected TF.\n \n2) **Breakout (momentum; RETEST-ENTRY with double confirmation)**\n   - Require a TF **close beyond** the level by **≥ max(0.15%, 0.40–0.50× proxy-ATR%)**, **and** volume **> 1.50×** median with a **rising 3–5-bar** volume trend, **and** RSI direction (longs RSI > 50; shorts RSI < 50).\n   - Then require a **retest** of that level where the **retest candle closes back in the breakout direction** (acceptance).\n   - Only then place a **LIMIT** at the level (± **0.20–0.30× proxy-ATR%**) to enter on the retest.\n   - If no valid retest within **3** candles or the retest closes the **wrong way**, **cancel**.\n   - MARKET allowed **only** if the retest clearly fails and momentum persists; include **max slippage ≤ 0.10%** in `advice`.\n \n3) **Range-fade (only with flat MAs & tight range)**\n   - Enter at the range edge; SL just beyond the wick extreme; TP mid-range then far edge.\n \nSTOPS & TARGETS (structure-first)\n- **Stop-loss:** beyond the nearest invalidation swing (above swing high for shorts / below swing low for longs) + buffer **max(0.10%, 0.5× proxy-ATR%)**.\n- **TP ladder (favoring hit-rate):**\n  - **TP1 ≈ 0.8R (60%)**, **TP2 ≈ 1.6–1.8R (25%)**, **TP3 ≈ 2.4–3.0R (15%)**, or nearest visible S/R (whichever first).\n  - After **TP1** ⇒ move SL to **breakeven on bar close** beyond entry.\n  - After **TP2** ⇒ enable **trailing** stop (**0.35–0.60×** proxy-ATR%).\n- **Order maintenance:** **cancel if not filled** within **3–5** candles. If any single bar > **2.5× proxy-ATR%**, stand aside for **2–3** bars (cooldown).\n \nEXECUTION & HYGIENE\n- If visible **bid-ask spread > 0.12%** or a clear opposite **order-book wall** sits between entry and TP1, return `\"hold\"` (or switch to range-fade if edge is obvious).\n- Prefer **LIMIT** entries; if you must use MARKET, declare **max slippage ≤ 0.10%** in `advice`.\n- **Clarity for beginners:** keep wording simple and concrete; avoid jargon. (Short imperative phrases.)\n \nCONFIDENCE RUBRIC & GATE (0.00–1.00)\n- Start at **0.60**. Adjust:\n  +0.15 MTF aligns; +0.10 confirmed **retest-breakout** (close beyond + retest + high volume); +0.05 supportive order book.  \n  −0.10 timeframe ambiguous; −0.10 key level approximate; −0.15 counter-trend; −0.10 ultra-low vol regime.\n- Cap at **0.95**, floor at **0.30**.\n- **Gate:** only output a trade if **`confidence ≥ 0.68`**. Otherwise set `\"signal\": \"hold\"` and follow the **Hold rule**.\n \n“HOLD” RULE (explicit)\n- Use `\"signal\": \"hold\"` if: symbol/price unreadable **or** you cannot identify at least **two** of {short-term bias, nearest support, nearest resistance} **or** regime/filters fail (no 1.5R free-run, flat EMA200 with no clean range edge, spread too wide, visible wall blocking TP1).\n- With `\"hold\"`: set `entry_price`, `stop_loss`, `take_profit[]`, `order_quantity`, `order_type` to **null**; keep `confidence ≤ 0.40`.\n- In `advice`, provide **both conditional triggers** (e.g., “long above X on retest / short below Y on retest”) with SL/TPs.\n \nADVICE STYLE (beginner-friendly; must mirror JSON)\n- 1–3 short **imperative** sentences in English.\n- Include: order type (LIMIT/MARKET + slippage if MARKET), **Entry**, **STOP**, **TP1/TP2/TP3 with % split**, **risk guidance** (1.00% if `confidence ≥ 0.60` else 0.50%), **breakeven & trailing**, **cancel window**, and **time horizon** (“close by end of day UTC”).\n- **Every number in `advice` must exactly match the JSON values** (same decimals).\n \nCOMPLIANCE\n- Do **not** provide financial advice or guarantees. Use neutral, objective language (“the chart shows…”, “this suggests…”).\n- Crypto-only (no stocks/FX/commodities).\n \nRETURN FORMAT — JSON ONLY (no prose, no extra keys). Fill with **actual values from the screenshot** (do not copy the sample).\n \n{\n  \"symbol\": \"SYMBOLUSDT\",\n  \"timestamp_utc\": \"2025-09-06T12:30:00Z\",\n  \"timeframe_detected\": \"15m\",\n  \"signal\": \"sell\",\n  \"entry_price\": 1.230,\n  \"stop_loss\": 1.280,\n  \"take_profit\": [\n    { \"price\": 1.200, \"volume_percent\": 60, \"order_type\": \"limit\" },\n    { \"price\": 1.180, \"volume_percent\": 25, \"order_type\": \"limit\" },\n    { \"price\": 1.150, \"volume_percent\": 15, \"order_type\": \"market\" }\n  ],\n  \"order_quantity\": null,\n  \"order_type\": \"limit\",\n  \"confidence\": 0.72,\n  \"advice\": \"Place a LIMIT SELL at 1.230 (retest entry); STOP 1.280. Take profit at 1.200/1.180/1.150 (60%/25%/15%). Risk 1.00% of equity if confidence ≥ 0.60, else 0.50% (size = (risk% * equity) / |1.280 - 1.230|). Move stop to breakeven after TP1 on bar close, trail 0.5% after TP2, cancel if not filled within 3×15m candles, close by end of day UTC.\",\n  \"issues\": []\n}",
        "inputType": "base64",
        "binaryPropertyName": "=data0",
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1168,
        624
      ],
      "id": "caf2bb0d-c112-4592-b049-e22b492c34eb",
      "name": "Analyze image1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "xlgjCw288HcBcmoI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/analyzer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        624
      ],
      "id": "071a88cf-390e-4b1a-a6b4-d7d409dc545b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003068055947",
        "binaryData": true,
        "binaryPropertyName": "data0",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        816
      ],
      "id": "e5505a70-7073-4970-b975-70cf7f34b07e",
      "name": "Send a photo message",
      "webhookId": "542ac610-6aaf-4a7b-91b4-a44081e302e9",
      "credentials": {
        "telegramApi": {
          "id": "xETyxfAWtdPuR7BE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003068055947",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        816
      ],
      "id": "ca28364b-a493-40ed-a803-c3a051a6a211",
      "name": "Send a text message",
      "webhookId": "0e335b85-047c-4bca-b930-126b75ad17da",
      "credentials": {
        "telegramApi": {
          "id": "xETyxfAWtdPuR7BE",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb408501-5d16-488d-a49a-55472d126b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "877a6c2068e5b6c0cbe19de5698c280fd7eea90a872ebf3229a1f701ab3fabe2"
  },
  "id": "pzMxAzHWJSTb5C3N",
  "tags": []
}